@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Ga+Maamli&family=Jaro:opsz@6..72&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

:root {
    --color-black: #101010;
    --color-white: #f0f0f0;
    --color-gray: #5c5c5c;
    --color-destaque: rgb(10, 156, 66);
    --color-black-claro: #252525;

    --font-title-desktop: 3rem;
    --font-span-desktop: 1.5rem;
    --font-text-desktop: 1.2rem;

    --font-title-mobile: 2rem;
    --font-span-mobile: 1.2rem;
    --font-text-mobile: 1rem;
}

.body {
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(145deg, #f5eeee, #333333);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;


    width: 100%;
    height: 100%;
    background: #dadada;
    background-image: radial-gradient(4px 100px at 0px 235px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 235px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 117.5px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 252px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 252px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 126px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 150px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 150px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 75px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 253px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 253px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 126.5px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 204px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 204px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 102px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 134px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 134px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 67px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 179px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 179px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 89.5px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 299px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 299px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 149.5px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 215px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 215px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 107.5px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 281px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 281px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 140.5px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 158px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 158px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 79px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 210px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 210px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 105px, #0f0 100%, #0000 150%);
    background-size:
        300px 235px,
        300px 235px,
        300px 235px,
        300px 252px,
        300px 252px,
        300px 252px,
        300px 150px,
        300px 150px,
        300px 150px,
        300px 253px,
        300px 253px,
        300px 253px,
        300px 204px,
        300px 204px,
        300px 204px,
        300px 134px,
        300px 134px,
        300px 134px,
        300px 179px,
        300px 179px,
        300px 179px,
        300px 299px,
        300px 299px,
        300px 299px,
        300px 215px,
        300px 215px,
        300px 215px,
        300px 281px,
        300px 281px,
        300px 281px,
        300px 158px,
        300px 158px,
        300px 158px,
        300px 210px,
        300px 210px,
        300px 210px;
    animation: hi 150s linear infinite;
}

@keyframes hi {
    0% {
        background-position:
            0px 220px,
            3px 220px,
            151.5px 337.5px,
            25px 24px,
            28px 24px,
            176.5px 150px,
            50px 16px,
            53px 16px,
            201.5px 91px,
            75px 224px,
            78px 224px,
            226.5px 350.5px,
            100px 19px,
            103px 19px,
            251.5px 121px,
            125px 120px,
            128px 120px,
            276.5px 187px,
            150px 31px,
            153px 31px,
            301.5px 120.5px,
            175px 235px,
            178px 235px,
            326.5px 384.5px,
            200px 121px,
            203px 121px,
            351.5px 228.5px,
            225px 224px,
            228px 224px,
            376.5px 364.5px,
            250px 26px,
            253px 26px,
            401.5px 105px,
            275px 75px,
            278px 75px,
            426.5px 180px;
    }

    to {
        background-position:
            0px 6800px,
            3px 6800px,
            151.5px 6917.5px,
            25px 13632px,
            28px 13632px,
            176.5px 13758px,
            50px 5416px,
            53px 5416px,
            201.5px 5491px,
            75px 17175px,
            78px 17175px,
            226.5px 17301.5px,
            100px 5119px,
            103px 5119px,
            251.5px 5221px,
            125px 8428px,
            128px 8428px,
            276.5px 8495px,
            150px 9876px,
            153px 9876px,
            301.5px 9965.5px,
            175px 13391px,
            178px 13391px,
            326.5px 13540.5px,
            200px 14741px,
            203px 14741px,
            351.5px 14848.5px,
            225px 18770px,
            228px 18770px,
            376.5px 18910.5px,
            250px 5082px,
            253px 5082px,
            401.5px 5161px,
            275px 6375px,
            278px 6375px,
            426.5px 6480px;
    }
}


.container {
    width: 100%;
    max-width: 1800px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    box-sizing: border-box;
    min-height: 100vh;

}

/*neo brutalismo*/
.card {
    background: #ffffff;
    border: 4px solid #000;
    padding: 20px;
    width: 300px;
    box-shadow: 8px 8px 0 #000;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 15px 15px 0 #000;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.010);
    pointer-events: none;
}


/************** WIDGET 1*/
.top {
    width: 100%;
    min-width: 350px;
    height: 100vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/************** Úsuario*/
.user {
    width: 100%;
    height: 60%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
}

.content-user {
    width: 100%;
    max-width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-user img {
    width: 120px;
    border-radius: 10px;
    border: 2px solid #000;
    padding: 20px;
    width: 150px;
    box-shadow: 8px 8px 0 #000;
    position: relative;
    overflow: hidden;
}

img {
    border-radius: 10px;

}

.falar-comigo {
    color: #fff;
}

#seta {
    color: red;
}

.img-user::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.010);
    pointer-events: none;
}


.info-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info-user h1 {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-black-claro);
}

.info-user span {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-destaque);
}

.info-user p {
    margin-top: auto;
    padding-top: 1rem;
    font-size: 1rem;
    color: var(--color-white);
}

/************** Projeto*/
.projeto {
    width: 100%;
    height: 40%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.content-projeto {
    width: 100%;
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-projeto {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-black-claro);
}

.img-projeto {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-projeto img {
    width: 150px;
}

.btn-projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
    padding: 6px;
}

.btn {
    background-color: var(--color-destaque);
    color: var(--color-white);
    font-weight: 600;
    padding: .7rem 1.3rem;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid #000;
    box-shadow: 5px 5px 0 #000;
    position: relative;
    overflow: hidden;
}


.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.010);
    pointer-events: none;
}

/************** WIDGET 2*/
.center {
    min-width: 350px;
    width: 100%;
    height: 25vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/************** Redes sociais*/
.redes-sociais {
    background-color: #b61515;
    width: 100%;
    height: 40%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.box-social {

    height: 60px;
    width: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box-social i {
    font-size: 2.5rem;
    color: var(--color-white);
}

/************** Skills*/
.skills {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.content-skills {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-skills {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-destaque);
}

.skills-icons {
    width: 100%;
    max-width: 90%;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-icons i {
    color: var(--color-black-claro);
    font-size: 2.5rem;
    transition: color 0.3s;
}

.skills-icons i:hover {
    cursor: pointer;
}

/* Cores específicas para cada ícone das skills*/
.skills-icons .fa-html5:hover {
    color: #e34f26;
}

.skills-icons .fa-css3-alt:hover {
    color: #1572b6;
}

.skills-icons .fa-js:hover {
    color: #f7df1e;
}

.skills-icons .fa-bootstrap:hover {
    color: #7952b3;
}

.skills-icons .fa-react:hover {
    color: #61dafb;
}


.skills-icons .fa-github:hover {
    color: #181717;
}

/************** WIDGET 3*/
.bottom {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

}

/************** Serviços*/
.servicos {
    width: 100%;
    height: 100;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.content-servicos {
    width: 100%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;

}

.text-servicos h1 {
    font-size: 30px var(--font-title-mobile);
    color: var(--color-black-claro);
}

.text-servicos span {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-white);

}

.servicos-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    gap: 30px;

}

.item-servico {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    width: 100%;
    max-width: 250px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1 rem;
    padding: 1rem;
    background-color: #1572b6;

    border: 4px solid #000;
    padding: 20px;
    width: 300px;
    box-shadow: 8px 8px 0 #000;
    position: relative;
    overflow: hidden;

}


.item-servico::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.010);
    pointer-events: none;
}

.item-servico i {
    font-size: 3rem;
    color: var(--color-black-claro);
}

.item-servico span {
    font-size: 1.2rem;
    color: var(--color-white);
}

/************** Contato*/
.contato {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-destaque);
    padding: 1rem;
    /* Certificando que a seção de contato tenha padding */
}

.content-contato {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.text-contato h1 {
    font-size: var(--font-title-mobile);
    color: var(--color-white);
}

.lista-contato {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.lista-contato a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.text-contato span {
    font-size: var(--font-text-mobile);
    font-weight: 400;
    color: var(--color-white);
}

.btn-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn2 {
    background-color: var(--color-white);
    color: var(--color-black);
    font-weight: 600;
    padding: .7rem 1.3rem;
    border-radius: 10px;
    text-decoration: none;

    border: 4px solid #000;
    padding: 20px;
    width: 120;
    box-shadow: 4px 4px 0 #000;
    position: relative;
    overflow: hidden;
}


.btn2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.010);
    pointer-events: none;
}

#curriculo {
    font-size: 100px;
    color: var(--color-black);
}

.baixar {
    color: #2b922b;
}

#contato-rapido {
    cursor: pointer;
}